[Unit]
Description=Turing Smart Screen
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/turing-smart-screen-python/
ExecStart=/usr/bin/python3 main.py

# Reinicia sempre que o serviço falhar
Restart=always
RestartSec=5  # Aguarda 5 segundos antes de reiniciar

# Proteger o sistema
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
